@import "node_modules/bulma/sass/utilities/_all";

$message-header-padding: 0.55em 0.7em;
$message-body-padding: 0.75em;
$navbar-dropdown-background-color: $dark;
$navbar-dropdown-border-top: 0;

@import "node_modules/bulma/bulma";
